.paddle{
    position: absolute;
    height: 12vh;
    width: 2.2vh;
    background-color: coral;
    top: 45vh;
    transform: translateY(-43%);
}

.left.paddle{
    left:  1vw;
}

.right.paddle{
    right: 1vw;
}