.score-container{
    position: absolute;
    left: 50vw;
    top: 6vw;
    transform: translateX(-50%);
    display: flex;
    color: coral;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 7vh;
    font-weight: 200;
    user-select: none;
}

.score {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.7;
}

.score-container>:first-child{
    text-align: right;
    border-right: .5vh solid coral;
}

@media only screen and (min-width: 410px) {
    /* lgtm */
}
  
@media only screen and (min-width: 550px) {
/* lgtm */
}

@media only screen and (min-width: 800px) {
/* lgtm */
}

@media only screen and (min-width: 1025px) {

}

@media only screen and (min-width: 1280px) {
/* lgtm */
}
