/* .board{
    position: relative;
    width: 90vw;
    height: 92vh;
    margin: 1em;
    border-style: solid;
    border-width: 0.4em;
    border-color: rgba(128, 0, 128, 0.623);
    touch-action: none;
}
 */
