.title-screen-container{
  height: 98vh;
  width: 98vw;
  transform: translateY(-10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-style: solid;
  width: 20em;
  height: 11em;
}

.title-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
  font-size: 1em;
  user-select: none;
} 

.title-button{
  color: white;
  background-color: grey;
  border-color: #131313;
  text-align: center;
  flex: 1;
  padding: 1em;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 1em;
  margin-bottom: 2em;
}
  
.game-mode-form{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5em;
}
  
.game-mode-title{
    text-align: center;
    grid-column: span 2;
}

.single-player.title-button{
  grid-column: span 2;
}

@media only screen and (min-width: 410px) {
  .info-container {
    width: 22em;
  }
}

@media only screen and (min-width: 550px) {
/* lgtm */
}

@media only screen and (min-width: 800px) {
/* lgtm */
}

@media only screen and (min-width: 1025px) {

}

@media only screen and (min-width: 1280px) {
/* lgtm */
}