.info-text{
  font-family: 'Press Start 2P', cursive;
  color: white;
  opacity: 70%;
  font-size: 1.1em;
  user-select: none;
  text-align: center;
  position: absolute;
  width: 90vw;
} 

@media only screen and (min-width: 410px) {
  .info-text{
    width: 85vw;
  } 
}

@media only screen and (min-width: 550px) {
  .info-text{
    width: 80vw;
    font-size: 2em;

  } 
}

@media only screen and (min-width: 800px) {
  .info-text{
    font-size: 2em;
  } 
}

@media only screen and (min-width: 1025px) {
/* lgtm */
}

@media only screen and (min-width: 1280px) {
/* lgtm */
}